<div class="home-container">
    <section class="home-section">
        <div class="container text-center">
          <div class="row d-flex align-items-center">
            <div class="col-md-6">
              <img src="https://www.sapphiresolutions.net/images/flower_delivery_app/images/flower_delivery_banner.svg" style="width: 100%;" alt="">
            </div>
            <div class="col-md-6">
            <i> <h2 style="font-family:Bookman-DemiItalic;"><b>Welcome to Our Flower and Gift Store</b></h2></i>
              <p >Find the perfect flowers and gifts to delight your loved ones at our store. Choose from a curated selection of exquisite blooms and thoughtful presents to make every occasion extra special.</p>
              <button class="btn btn-primary btn-lg" (click)="onShop()">Gift Now</button>
            </div>
          </div>
        </div>
      </section>
    <app-footer></app-footer>
</div>
